{% extends "base.html.twig" %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Agence lorem ipsum</h1>
		<p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre 
																																																									        provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.</p>
	</div>

	<div class="container">
		<h1>Les dernies biens</h1>
		<div class="row flex">

			{% for property in properties %}
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<div class="card-title">
								<h5 class="card-title">
									<a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title}}</a>
								</h5>
								<p class="card-text">{{ property.city}}
									({{ property.postalCode}})</p>
								<div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formatedPrice}}
									€</div>
							</div>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
